body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 60px;
  background-color:#f3f4f7;
  color:white;
}

.logo{
  font-size:24px;
  font-weight:bold;
  color:#38bdf8;
}

.nav-links{
  list-style:none;
  display:flex;
  gap:30px;
}

.nav-links a{
  text-decoration:none;
  color:rgb(9, 8, 8);
  font-size:16px;
  transition:0.3s;
}

.nav-links a:hover{
  color:#38bdf8;
}

.auth-buttons{
  display:flex;
  gap:15px;
}

.login-btn{
  text-decoration:none;
  padding:8px 18px;
  border:2px solid #38bdf8;
  border-radius:5px;
  color:#38bdf8;
  transition:0.3s;
}

.login-btn:hover{
  background-color:#38bdf8;
  color:white;
}

.register-btn{
  text-decoration:none;
  padding:8px 18px;
  background-color:#f59e0b;
  border-radius:5px;
  color:white;
  font-weight:bold;
  transition:0.3s;
}

.register-btn:hover{
  background-color:#d97706;
}
.admin-btn{
  text-decoration:none;
  padding:8px 18px;
  background-color:#2f2d2a;
  border-radius:5px;
  color:rgb(237, 232, 232);
  font-weight:bold;
  transition:0.3s;
}
/* HERO */
.hero{
  background:#4f46e5;
  color:white;
  text-align:center;
  padding:120px 20px;
}

.hero h1{
  font-size:48px;
}

.hero p{
  font-size:18px;
  margin:20px 0;
}

.searchBox{
  margin-top:20px;
}

.searchBox input{
  padding:12px;
  width:250px;
  border:none;
  border-radius:4px;
}

.searchBox button{
  padding:12px 20px;
  border:none;
  background:black;
  color:white;
  margin-left:10px;
  cursor:pointer;
}

/* CATEGORIES */
.categories{
  padding:80px 20px;
  text-align:center;
}

.categoryContainer{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
}

.card{
  padding:40px;
  background:#f4f4f4;
  border-radius:8px;
  width:150px;
  font-weight:bold;
}

/* JOBS */
.jobs{
  background:#fafafa;
  padding:80px 20px;
  text-align:center;
}

.jobContainer{
  display:flex;
  justify-content:center;
  gap:20px;
  margin-top:40px;
}

.jobCard{
  background:white;
  padding:20px;
  width:220px;
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.salary{
  font-weight:bold;
}

.applyBtn{
  margin-top:10px;
  padding:10px 15px;
  border:none;
  background:#4f46e5;
  color:white;
  cursor:pointer;
}

/* CTA */
.cta{
  padding:100px 20px;
  text-align:center;
  background:#4f46e5;
  color:white;
}

.cta button{
  padding:12px 25px;
  margin-top:20px;
  border:none;
  background:black;
  color:white;
  cursor:pointer;
}

/* FOOTER */
.footer{
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
}
